<footer class="main-footer">
  <div class="pull-right hidden-xs">
      <b>
          <a href="mailto:siddharth.2201070cs@iiitbh.ac.in" style="color: black; text-decoration: none;">
              siddharth.2201070cs@iiitbh.ac.in
          </a>
      </b>
  </div>
  <strong>
    &copy; {% now "Y" %} - Developed and Customized by 
    <a href="https://www.linkedin.com/in/siddharth-nama-1bb967256/" target="_blank" style="color: black; text-decoration: none;">Siddharth Nama</a>
  </strong>
  <a href='https://www.free-counters.org/'>.</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=47a30a005d8eef234ec2ee8ce500ea5f0699de35'></script>
  <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1263036/t/13"></script>
</footer>
